# Charity Funding Predictor
#### Using machine learning and neural networks, predict whether applicants will be successful if funded by Alphabet Soup

#### Charity dataset that capture metadata about each organization:
* **EIN** and **NAME**—Identification columns
* **APPLICATION_TYPE**—Alphabet Soup application type
* **AFFILIATION**—Affiliated sector of industry
* **CLASSIFICATION**—Government organization classification
* **USE_CASE**—Use case for funding
* **ORGANIZATION**—Organization type
* **STATUS**—Active status
* **INCOME_AMT**—Income classification
* **SPECIAL_CONSIDERATIONS**—Special consideration for application
* **ASK_AMT**—Funding amount requested
* **IS_SUCCESSFUL**—Was the money used effectively

## Step 1: Preprocess the Data

In [1]:
pip install tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.9.2)
Requirement already satisfied: flatbuffers<2,>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.6)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.1.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.3.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.50.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (4.1.1)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.9.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.19.6)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow) (21.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (14.0.6)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.27.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.38.3)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.4.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.14.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (3.10.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow) (3.0.9)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import and read the charity_data.csv.
# application_df = pd.read_csv("Resources/charity_data.csv")
application_df = pd.read_csv("/content/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# this is the target columns
application_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

* What variable(s) are the target(s) for your model?
* What variable(s) are the feature(s) for your model?

### Target variable: IS_SUCCESSFUL; 1 is successful, 0 (unsuccessful)
- IS_SUCCESSFUL              int64

### Feature variables:
- APPLICATION_TYPE          object
- AFFILIATION               object
- CLASSIFICATION            object
- USE_CASE                  object
- ORGANIZATION              object
- STATUS                     int64
- INCOME_AMT                object
- SPECIAL_CONSIDERATIONS    object
- ASK_AMT                    int64

In [5]:
application_df.shape

(34299, 12)

In [6]:
# Drop the non-beneficial ID column 'EIN' .
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [8]:
# Determine the number of unique values in each column.
ctn_unique_values = application_df.nunique()
print(f'Number of unique values in each column : \n{ctn_unique_values}')

Number of unique values in each column :
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [10]:
# Look at NAME value counts for binning
cnt_name = application_df['NAME'].value_counts()
cnt_name[cnt_name > 10]

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
USA SWIMMING INC                                                            11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
Name: NAME, Length: 204, dtype: int64

In [13]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(cnt_name[cnt_name < 10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [14]:
# Look at APPLICATION_TYPE value counts for binning
cnt_application_type = application_df['APPLICATION_TYPE'].value_counts()
cnt_application_type[cnt_application_type > 10]

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(cnt_application_type[cnt_application_type < 10].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
cnt_classification = application_df['CLASSIFICATION'].value_counts()
cnt_classification[cnt_classification > 10]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [18]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(cnt_classification[cnt_classification < 10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [19]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_application_df = pd.get_dummies(application_df)
numeric_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [20]:
# Split our preprocessed data into our features and target arrays
y = numeric_application_df["IS_SUCCESSFUL"] #.values

# Features columns are eveything without the target column
X = numeric_application_df.drop(["IS_SUCCESSFUL"],axis=1) #.values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create the model - Optimize the original Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
def create_model(hidden_nodes_layer1, hidden_nodes_layer2, hidden_nodes_layer3):
    
    number_input_features = len(X_train_scaled[0])
    
    nn = tf.keras.models.Sequential()

    # First hidden layer
    nn.add(
          tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
    )

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))
    
    # Third hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Check the structure of the model
    nn.summary()
    return nn

## Step 2: Compile, Train, and Evaluate the Model

### Attemp 1: Execute, Compile, Train, and Evaluate the Model

In [23]:
# Attemp 1: Execute the model
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5
hidden_nodes_layer3 = 5
nn = create_model(hidden_nodes_layer1,hidden_nodes_layer2, hidden_nodes_layer3)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 2360

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 5)                 30

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 2,441
Trainable params: 2,441
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5984 - accuracy: 0.7171
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4872 - accuracy: 0.7816
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4672 - accuracy: 0.7820
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4584 - accuracy: 0.7832
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4532 - accuracy: 0.7851
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4500 - accuracy: 0.7862
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4471 - accuracy: 0.7867
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4450 - accuracy: 0.7869
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4436 - accuracy: 0.7878
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7872
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4412 - accuracy: 0.7874
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4404 - accuracy: 0.7885
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4395 - accuracy: 0.7876
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4390 - accuracy: 0.7884
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4383 - accuracy: 0.7883
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4377 - accuracy: 0.7880
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4369 - accuracy: 0.7883
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4367 - accuracy: 0.7890
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4356 - accuracy: 0.7887
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4350 - accuracy: 0.7897
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4350 - accuracy: 0.7894
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4346 - accuracy: 0.7881
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7889
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4339 - accuracy: 0.7879
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4337 - accuracy: 0.7888
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4336 - accuracy: 0.7895
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4329 - accuracy: 0.7901
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4326 - accuracy: 0.7897
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4325 - accuracy: 0.7902
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4324 - accuracy: 0.7903
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4320 - accuracy: 0.7912
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4317 - accuracy: 0.7898
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4317 - accuracy: 0.7907
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4319 - accuracy: 0.7905
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4316 - accuracy: 0.7891
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4310 - accuracy: 0.7920
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7906
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7913
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7901
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7914
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7908
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7913
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7910
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7908
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7902
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4295 - accuracy: 0.7922
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4295 - accuracy: 0.7909
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4294 - accuracy: 0.7915
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7909
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7916
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7903
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7924
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4287 - accuracy: 0.7914
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7914
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7921
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7925
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7924
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7916
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7906
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7926
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7917
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7921
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7918
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4280 - accuracy: 0.7915
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4274 - accuracy: 0.7921
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4276 - accuracy: 0.7917
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7916
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7914
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4273 - accuracy: 0.7928
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7926
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7927
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7928
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7910
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7916
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7911
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7914
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7923
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7922
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7917
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7923
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4266 - accuracy: 0.7919
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4266 - accuracy: 0.7920
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4267 - accuracy: 0.7918
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4265 - accuracy: 0.7926
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7919
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4263 - accuracy: 0.7930
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7921
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4263 - accuracy: 0.7910
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7923
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7925
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7937
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7930
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7922
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7931
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7931
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7919
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4254 - accuracy: 0.7928
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7922
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7932
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4254 - accuracy: 0.7928

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4491 - accuracy: 0.7840 - 538ms/epoch - 2ms/step
Loss: 0.4490695297718048, Accuracy: 0.7840233445167542

In [27]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimzation_1.h5")

### Attemp 2: Execute, Compile, Train, and Evaluate the Model

In [28]:
# Attemp 2 execute the model
number_input_features = len(X_train_scaled[1])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 10
hidden_nodes_layer3 = 10
nn = create_model(hidden_nodes_layer1,hidden_nodes_layer2, hidden_nodes_layer3)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 16)                4720

 dense_5 (Dense)             (None, 10)                170

 dense_6 (Dense)             (None, 10)                110

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 5,011
Trainable params: 5,011
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5456 - accuracy: 0.7415
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4612 - accuracy: 0.7814
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4513 - accuracy: 0.7839
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4464 - accuracy: 0.7846
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4433 - accuracy: 0.7855
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4412 - accuracy: 0.7849
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4393 - accuracy: 0.7855
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4384 - accuracy: 0.7871
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4375 - accuracy: 0.7868
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4367 - accuracy: 0.7883
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4357 - accuracy: 0.7873
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4347 - accuracy: 0.7877
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4344 - accuracy: 0.7883
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7889
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4333 - accuracy: 0.7891
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4324 - accuracy: 0.7905
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4321 - accuracy: 0.7902
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4319 - accuracy: 0.7913
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4315 - accuracy: 0.7895
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4310 - accuracy: 0.7897
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7912
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4302 - accuracy: 0.7911
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7903
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7915
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7923
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4287 - accuracy: 0.7912
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4283 - accuracy: 0.7916
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4276 - accuracy: 0.7916
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4273 - accuracy: 0.7926
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7929
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4270 - accuracy: 0.7920
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7927
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7933
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7931
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7929
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7928
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7924
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7926
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7939
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.7928
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4241 - accuracy: 0.7939
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4247 - accuracy: 0.7947
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4242 - accuracy: 0.7954
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7941
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7944
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4236 - accuracy: 0.7943
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7946
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4234 - accuracy: 0.7949
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7965
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7941
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4229 - accuracy: 0.7940
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7950
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7935
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7943
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7958
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7959
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7943
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7949
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7948
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7953
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4213 - accuracy: 0.7954
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7950
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7961
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4211 - accuracy: 0.7953
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4212 - accuracy: 0.7957
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7942
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7952
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7948
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7949
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7955
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7951
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7957
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7948
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7960
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7957
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7966
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7956
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7961
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4200 - accuracy: 0.7962
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7956
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4194 - accuracy: 0.7955
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.7956
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4193 - accuracy: 0.7951
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4193 - accuracy: 0.7950
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7954
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4193 - accuracy: 0.7954
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7962
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.7971
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7952
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7951
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7969
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7961
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7966
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7961
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7965
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7965
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4180 - accuracy: 0.7963
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7961
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.7970
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4179 - accuracy: 0.7957

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4533 - accuracy: 0.7861 - 462ms/epoch - 2ms/step
Loss: 0.453250527381897, Accuracy: 0.7861224412918091

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimzation_2.h5")

### Attemp 3: Execute, Compile, Train, and Evaluate the Model

In [33]:
# Attemp 3 execute the model
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 15
hidden_nodes_layer3 = 10
nn = create_model(hidden_nodes_layer1,hidden_nodes_layer2, hidden_nodes_layer3)

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 30)                8850

 dense_9 (Dense)             (None, 15)                465

 dense_10 (Dense)            (None, 10)                160

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 9,486
Trainable params: 9,486
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5275 - accuracy: 0.7579
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4595 - accuracy: 0.7839
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4506 - accuracy: 0.7848
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4454 - accuracy: 0.7863
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4428 - accuracy: 0.7882
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4406 - accuracy: 0.7867
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4387 - accuracy: 0.7877
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4376 - accuracy: 0.7897
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4359 - accuracy: 0.7894
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4352 - accuracy: 0.7899
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4341 - accuracy: 0.7899
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4337 - accuracy: 0.7902
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4323 - accuracy: 0.7913
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4319 - accuracy: 0.7907
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4312 - accuracy: 0.7903
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7911
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7923
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4298 - accuracy: 0.7904
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7903
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7920
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7926
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4276 - accuracy: 0.7940
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7940
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7934
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4263 - accuracy: 0.7921
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4257 - accuracy: 0.7939
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4257 - accuracy: 0.7920
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4250 - accuracy: 0.7927
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7940
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7957
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4244 - accuracy: 0.7945
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7940
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4237 - accuracy: 0.7952
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7933
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4227 - accuracy: 0.7949
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4227 - accuracy: 0.7937
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7945
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7948
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7945
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7955
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7961
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4213 - accuracy: 0.7962
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4214 - accuracy: 0.7950
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4210 - accuracy: 0.7955
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4207 - accuracy: 0.7958
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7959
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4197 - accuracy: 0.7961
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7964
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4203 - accuracy: 0.7957
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7946
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7973
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.7961
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4195 - accuracy: 0.7975
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4192 - accuracy: 0.7962
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.7970
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.7961
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7973
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7963
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7970
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4184 - accuracy: 0.7976
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7972
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7980
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7985
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4178 - accuracy: 0.7986
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4180 - accuracy: 0.7972
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7980
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7967
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7980
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4173 - accuracy: 0.7980
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7982
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4172 - accuracy: 0.7981
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7986
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7966
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7984
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7983
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.7979
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7988
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.7983
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4168 - accuracy: 0.7978
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7976
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7982
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7980
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4160 - accuracy: 0.7991
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.7988
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7974
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4158 - accuracy: 0.7976
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4154 - accuracy: 0.7982
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7975
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7981
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.7984
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7993
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7979
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.7981
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7989
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7998
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7990
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7986
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7987
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7986
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.7996

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4557 - accuracy: 0.7859 - 515ms/epoch - 2ms/step
Loss: 0.4557079076766968, Accuracy: 0.785889208316803

In [37]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimzation_3.h5")